<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Hello Aditi</h1>
  <h4>Welcome to MiniMind</h4>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" style="text-align: center;" (click)="clicked1('/alphabets')"> 
          <ion-card-header>
      <ion-img src="./assets/Abc.png" style="height:130px"></ion-img>
      </ion-card-header>
    <ion-card-content style="font-size: larger;"> Alphabets </ion-card-content>
  </ion-card>
</ion-col>
<ion-col>
  <ion-card color="primary" style="text-align: center;" (click)="clicked1('/number')"> 
    <ion-card-header>
<ion-img src="./assets/123.png" style="height:130px"></ion-img>
</ion-card-header>
<ion-card-content style="font-size: larger;"> Number </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-card color="primary" style="text-align: center;" (click)="clicked1('/shapes')"> 
      <ion-card-header>
  <ion-img src="./assets/Shape.png" style="height:130px"></ion-img>
  </ion-card-header>
  <ion-card-content style="font-size: larger;"> Shape </ion-card-content>
  </ion-card>
</ion-col>
<ion-col>
  <ion-card color="primary" style="text-align: center;" (click)="clicked1('/colors')">
    <ion-card-header>
<ion-img src="./assets/Color.png" style="height:130px"></ion-img>
</ion-card-header>
<ion-card-content style="font-size: larger;"> Color </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-card color="primary" style="text-align: center;"> 
      <ion-card-header>
  <ion-img src="./assets/Birds.png" style="height:130px"></ion-img>
  </ion-card-header>
  <ion-card-content style="font-size: larger;"> Birds </ion-card-content>
  </ion-card>
</ion-col>
<ion-col>
  <ion-card color="primary" style="text-align: center;"> 
    <ion-card-header>
<ion-img src="./assets/Animals.png" style="height:130px"></ion-img>
</ion-card-header>
<ion-card-content style="font-size: larger;"> Animal </ion-card-content>
</ion-card>
</ion-col>
</ion-row>

</ion-grid>

</ion-content>
